@media screen and (max-width:576px){
    header{
        width:90%;
        height:90%;
        margin: 0 auto;
    }
    .offer{
        margin: 50px auto;
    }
    #new-year{
        width: 350px;
        height: 300px;
    }
    .party{
        width: 90%;
        height: 1200px;
        background: url('../images/party.png');
        /* background-repeat: no-repeat; */
        flex-direction: column;
    }
    #img-party{
        margin-top: 70px;
    }
    .new-offer{
        flex-direction: column;
    }
    .new-text{
        width: 60%;
    }
    .offer-title{
        font-size: 28px;
        line-height: 20px;
    }
    .offer-image{
        width: 50%;
        margin: 30px auto;
    }
    .new-text-2{
        width: 60%;
    }
    .discount-subtitle{
         font-size: 16px;
    }
    .discount-title{
        font-size: 32px;
    }
    #first-img{
        width: 150px;
        height: 150px;
        margin-right: -250px;
        margin-top: 20px;
    }
    #second-img{
        width: 90%;
        margin: 0px auto;
    }
    #third-img{
        width: 50%;
        height: 30%;
        translate: -70px -200px;
        overflow:auto;
        position: relative;
    }
}