@media screen and (max-width:576px){
    header{
        width:90%;
        height:90%;
        margin: 0 auto;
    }
    .offer{
        margin: 50px auto;
    }
    #new-year{
        width: 350px;
        height: 300px;
    }
}