@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* font-family: "Merriweather", serif; */
body{
    font-family: "Inter", sans-serif; 
}
/* Banner Section */
header{
    width: 95%;
    height:700px;
    margin: 50px  auto 100px;
    /* border: 2px solid red; */
}

.banner-container{
    
    background-size: cover;
    background: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),
    url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    /* overflow: hidden; */
   /* -webkit-border-radius: 20px;
  -moz-border-radius: 20px; */
    border-radius: 20px 20px 60px 30px;
}
.subtitle{
    padding-top: 180px;
    font-family: "Merriweather", serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.title{
    font-family: "Merriweather", serif;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    color: white;
    padding-bottom: 250px;
}
/*  */
.offer{
    margin: 120px auto;
    text-align: center;
}
.p1{
    color: rgb(255, 0, 0);
    font-size: 50px;
    font-weight: 700;
    line-height: 40px;
}
.p2{
    color: rgb(255, 0, 0);
    font-size: 18px;
    font-weight: 500;
    line-height: 2px;
}
.p3{
    color: rgb(7, 2, 17);
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
}
#new-year{
    width: 450px;
    height: 300px;
}
/*  */
.party{
    width: 90%;
    height: 600px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),
     url('../images/party.png');
     background-repeat: no-repeat;
     display: flex;
     justify-content: space-around;
     align-items: center;
    margin: 100px auto;
}
.party-text{
    width: 50%;
    margin-left: 50px;
    color: white;
    text-align: left;

}
.party-title{
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 900;
    line-height: 56px;
    letter-spacing: 11%;
}
.description{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}
.btn{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 50px;
}

#img-party{
    width: 100%;
    height: 80%;
}
.place{
     width: 90%;
     padding: 30px 0;
     margin: 60px auto;
     border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
}
.place p{
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
}
.span{
    color: rgb(255, 0, 0);
}
.new-offer{
    width: 85%;
    margin:100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new-text{
    width: 25%;
}
.offer-subtitle{
    color: rgb(255, 0, 0);
    font-size: 18px;
    font-weight: 500;
    line-height: 5px;
    
}
.offer-title{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 36px;
    font-weight: 900;
    line-height: 20px;
}
.offer-des{
    color: rgba(7, 2, 17, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.offer-image{
    width: 25%;
    box-sizing: border-box;
    border: 10px solid rgb(255, 0, 0);
    border-radius: 50%;
    padding: 20px;
} 
.new-text-2{
    width: 25%;
}
.year{
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 700;
    line-height:20px;
}
#new-year-1{
    width: 100px;
    height: 100px;
}
#ellipse{
    width: 100%;
}
.discount{
    width: 90%;
    margin: 100px auto;
    text-align: center;
}
.discount-subtitle{
    color: rgb(7, 2, 17);
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
}
.discount-title{
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 900;
    line-height: 30px;
}
.holiday{
    color:rgb(255, 0, 0);
}
#first-img{
    margin-right: -600px;
    margin-top: 100px;
}
#second-img{
    width: 90%;
    margin: 0px auto;
}
#third-img{
    width: 50%;
    height: 30%;
    translate: -150px -530px;
    position: relative;
}
/*  */
.portfolio{
     width: 90%;
     margin: -400px auto 100px;
}
.portfolio .new-text{
    width: 52%;
    margin-left: 70px;
}
.images{
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.img-box{
    width: 350px;
    height: 380px;
}
.newsletter{
    margin: 100px auto;
    width: 80%;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}
.newsletter #envelope{
    padding-top: 50px;
}
#envelope{
    width: 100px;
    height: 100px;
}
input{
    width: 30%;
    margin-bottom: 50px;
    padding: 15px 25px;
    border: none;
    border-radius: 30px;
}
input::placeholder{
 color: rgba(7, 2, 17, 0.3);
}
.btn-primary{
    color: white;
    font-weight: 600;
    background-color: rgb(255, 0, 0);
    padding: 15px 30px;
    border: none;
    border-radius:0px 25px 25px 0px;
    margin-left: -50px;
}
/* Footer */
footer{
    width: 100%;
    height: 100%;
    margin: 50px auto 100px;
    background-color: rgb(7, 2, 17);
}
.first-text{
    font-size: 18px;
     color: white;
     margin: 0px auto ;
     display: flex;
     justify-content: space-around;
}
.text-1{
    padding-top: 50px ;
    margin-left: -180px;
    line-height: 30px;
}
.text-2{
    padding-top: 50px;
    margin-right: -120px;
    line-height: 30px;
   
}
.text-2 img{
   width: 10% ;
   margin-right: 5px;
}
.second-text{
    font-size: 18px;
    color: white;
     margin: 0px auto ;
     display: flex;
     justify-content: space-around;
}
.second-text .text-1{
    padding-bottom: 50px;
}
.second-text .text-2{
    padding-bottom: 50px;
    margin-right: -200px;
}

.icons{
    width: 80%;
    /* margin-left: 20px; */
    margin: 20px auto;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.15);
    border-bottom: 1px solid rgba(255,255,255,0.15);
    padding-top: 30px;
    padding-bottom: 30px;
}
.icon{

    width: 40px;
    height: 40px;
    margin-right: 10px;
   
}